.content {
  max-width: 522px;
  margin: auto;
}
.info {
  margin: 4px 0px 0px 16px;
  text-align: left;
}
.circles {
  margin: 48px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 16px;
}
