.form {
  max-width: 522px;
  margin: auto;
}

.info {
  margin: 4px 0px 0px 16px;
  text-align: left;
}
.circles {
  margin: 120px 0px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
